<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85CFACD61E82F4EC00D50C4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0592BE11F4017EA0097A3D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0592BFB1F4194F00097A3D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
